@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Graduate&family=Honk&family=Kode+Mono:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

#hero-handle {
  /* font-family: Stencil; */
  color: white;
}

.graduate-regular {
  font-family: 'Graduate', serif;
  font-weight: 700;
  font-style: normal;
}

.honk-lab {
  font-family: 'Honk', system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    'MORF' 15,
    'SHLN' 50;
}

.bungee-spice-regular {
  font-family: 'Bungee Spice', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kode-mono-lab {
  font-family: 'Kode Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.hero-embed {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
}

.hero-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 41.6667%;
  padding-bottom: 0;
  box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  margin-top: 1.6em;
  margin-bottom: 0.9em;
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
}
/* <iframe
loading="lazy"
className='hero-embed'
src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGE1SzyJKA&#x2F;cshzHeXeeHqZHMhiz8WXbg&#x2F;watch?embed"

allow="fullscreen"
></iframe> */
